<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <app-header [ruta]="'Registro de Personas'"></app-header>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Agregar Persona
        </div>
        <div class="panel-body">
          <form novalidate [formGroup]="f">
            <app-person-form (formReady)="f"></app-person-form>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>